/* основной цвет заголовков #212121 */
/* белый цвет #ffffff  */
/* основной цвет текста #757575 */
/* цвет акцента #2196F3 */
/* черный цвет #000000  */
/* цвет банера и футера #2F303A */
/* цвет адресов футера rgba(255, 255, 255, 0.6) */
/* вторичный цвет фона #F5F4FA */

:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --main-logo-color: #2196f3;
  --pf-cart-border-color: #eeeeee;
  --address-link-footer: rgba(255, 255, 255, 0.6);
  --btn-bg-color: #f5f4fa;
  --btn-click-color: #188ce8;
  --baner-tittle-color: #ffffff;
  --white-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* -------------Остальной код------------- */

body {
  background-color: var(--main-bg-color);
  color: var(--title-text-color);
  font-family: 'Roboto', ssans-serif;
}

button {
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.accent {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*------------- Header style------------- */
.site_header {
  border-bottom: 1px solid #ececec;
}
.logo {
  text-decoration: none;
  color: var(--main-logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo_head {
  color: #000000;
}

.site-nav {
  display: flex;
  align-items: center;
}

.header_nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.header_nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.liner::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: '';

  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header_nav .link:hover::after {
}

.header_nav .item + .item {
  margin-left: 50px;
}

.link.accent_nav {
  color: var(--accent-color);
}

.header_nav .link:hover,
.header_nav .link:focus {
  color: var(--accent-color);
}

.contact_list {
  display: flex;
  list-style: none;
  margin: 0 0 0 auto;
  padding-left: 0;
}

.contact_list .item + .item {
  margin-left: 50px;
}

.contact_list .link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--main-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact_list .link:hover,
.contact_list .link:focus {
  color: var(--accent-color);
}

.icon-mail {
  margin-right: 10px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail:hover,
.icon-mail:focus {
  fill: currentColor;
}

.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}
/*------------- Main style -------------*/

/* -------------Section Banner------------- */
.banner {
  background-color: var(--footer-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/banner.jpg);
  background-repeat: no-repeat;
}

.banner-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--baner-tittle-color);
  margin-bottom: 30px;
  margin-top: 0;
}

.banner-btn {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--baner-tittle-color);
  cursor: pointer;

  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.banner-btn:active {
  background-color: var(--btn-click-color);
}

/* -------------Section Peculiarities------------- */

.peculiar {
  padding-bottom: 0;
}
.pec_list {
  display: flex;

  list-style: none;
  margin: 0;
  padding-left: 0;
}
.pec_list .item {
  width: 270px;
}

.pec_list .item + .item {
  margin-left: 30px;
}

.pec_box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}
.pec_icon {
  width: 70px;
  height: 70px;
}
.pec_box.antenna {
  background-image: url(../images/antenna.svg);
}

.pec_list .tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.pec_list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: 0;
}

/*------------- Section Our work -------------*/

.work_tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.work_list {
  display: flex;

  list-style: none;
  margin: 0;
  padding-left: 0;
}

.work_list .item + .item {
  margin-left: 30px;
}

.work_box {
  position: relative;
  width: 370px;
  height: 294px;
}

.box_label {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.box_label .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;

  color: #ffffff;
}
/* -------------Our Team Section-------------- */
.our_team {
  background-color: var(--secondary-bg-color);
}

.our_team .tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.pers_cart {
  display: flex;
  text-align: center;

  list-style: none;
  margin: 0;
  padding-left: 0;
}

.pers_cart .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.pers_cart .item + .item {
  margin-left: 30px;
}
.pers_cart .photo {
}

.pers_cart .cart_text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pers_cart .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.prof {
}
.pers_cart .prof {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 16px;
  color: var(--main-text-color);
}

.pers_sociallink {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 0;
  padding-left: 0;
  list-style: none;
}
.sociallink {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pers_sociallink .sociallink + .sociallink {
  margin-left: 10px;
}
.sociallink:hover,
.sociallink:focus {
  background-color: var(--accent-color);
}
.icon-social {
  fill: #afb1b8;
}
.sociallink:hover .icon-social,
.sociallink:focus .icon-social {
  fill: #ffffff;
}

/* -----------Постоянные клиены ---------------*/

.tittle.our_client {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.client_list {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.client_list .client_item + .client_item {
  margin-left: 30px;
}
.client_item {
  display: flex;

  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client_link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client_icon {
  fill: currentColor;
}

.client_item:hover,
.client_item:focus {
  border-color: var(--accent-color);
}

.client_link:hover,
.client_link:focus {
  color: var(--accent-color);
}
/* -------------- Backdrop--------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  padding: 15px;

  background-color: var(--white-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* -------------Footer style------------- */

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_box {
  display: flex;
  align-items: baseline;
}

.logo_footer {
  color: var(--white-color);
}

.address {
  margin-top: 20px;
}

.address .list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.address .text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);

  margin-top: 0;
  margin-bottom: 9px;
}

.address .link {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-link-footer);

  margin-top: 0;
}

.footer_contact:first-child {
  margin-top: 0;
  margin-bottom: 9px;
}

.ftr_address {
  margin-right: 70px;
}

.ftr_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 0;
  margin-bottom: 20px;
}
.ftr_soclist {
  display: flex;
  text-align: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.ftr_item {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr_sociallink {
  color: var(--white-color);
}

.ftr_socicon {
  fill: currentColor;
}

.ftr_item:not(:last-child) {
  margin-right: 10px;
}

.ftr_item:hover,
.ftr_item:focus {
  background-color: var(--accent-color);
}
/* -------------------Portfolio style --------------------- */

.pf_filter {
  display: flex;
  justify-content: center;

  list-style: none;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}

.pf_filter .item + .item {
  margin-left: 8px;
}

.pf_filter .btn {
  background-color: var(--btn-bg-color);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pf_filter .btn:hover,
.pf_filter .btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pf_list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: -15px;
  padding: 0;
}

.pf_cart {
  width: 370px;
  margin: 15px;
}

.product_thumb {
  position: relative;
  overflow: hidden;
}

.product_overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  padding-left: 24px;
  padding-right: 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product_overlay .text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 56;
  letter-spacing: 0.03em;

  color: var(--white-color);
}
.pf_cart:hover .product_overlay {
  transform: translateY(0);
}
.cart_text {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.pf_cart .pf_link {
  text-decoration: none;
}

.pf_cart .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.pf_cart .products {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.pf_link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pf_link:hover,
.pf_link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
